.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-blue{
  background-color: #083d77 !important;
  border-color: #083d77 !important;
}

.button-blue:hover {
  background-color: #08223d !important;
  border-color: #08223d !important;
}

.button-outline-blue{
  background-color: #ffffff !important;
  border-color: #083d77 !important;
  color: #083d77 !important;
}

.button-outline-blue:hover {
  background-color: #08223d !important;
  border-color: #08223d !important;
  color: #ffffff !important;
}

.input-orange{
  border: none !important;
  border-radius: inherit !important;
  border-bottom: 1.5px solid #f95738 !important;
}

.sombra{
  -webkit-box-shadow: 0 4px 8px 0 #777, 0 10px 6px -6px #777;
  -moz-box-shadow: 0 4px 8px 0 #777, 0 10px 6px -6px #777;
  box-shadow: 0 4px 8px 0 #777, 0 10px 6px -6px #777;
}

.colour-text{
  color: #4C5454;
}